<div id="logs">
  <div class="container">
    <br><br>
    <h1>Logs</h1>
    <hr/>
    <ul>
      <li v-for="log in logs" class="p-2"><b>{{log.file.name}}</b> is {{log.actionType=='download'?log.actionType+'e':log.actionType}}d by <b>{{log.doneBy.fullName}}</b> at {{log.createdAt | formatDate}}</li>
    </ul>
  </div>
  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
