<div id="welcome">
  <div class="container">
    <h1>Add new file</h1>
    <hr/>
    <input type="file" id="file"/>
    <button class="btn btn-primary" @click="uploadFile()">Upload</button>
    <hr/>
    <br><br>
    <div class="container clearfix">
      <div class="col-6 float-left">
        <h3>Uploaded Files</h3>
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Created At</th>
            <th>Actions</th>
          </thead>
          <tbody>
              <tr v-for="file in files">
                  <td>{{ file.name }}</td>
                  <td>{{ file.createdAt | formatDate }}</td>
                  <td>
                    <button class="btn btn-primary" @click="clickShareModal(file)">Share</button>
                    <button class="btn btn-primary" @click="downloadFile(file)">Download</button>
                  </td>
              </tr>
              <tr v-if="files.length==0"><td colspan="3">No uploaded files</td></tr>
          </tbody>
        </table>
      </div>
      <div class="col-6 float-left">
        <h3>Shared Files</h3>
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Shared At</th>
            <th>Actions</th>
          </thead>
          <tbody>
              <tr v-for="shared in sharedFiles">
                  <td>{{ shared.file.name }}</td>
                  <td>{{ shared.createdAt | formatDate }}</td>
                  <td><button class="btn btn-primary" @click="downloadFile(shared.file)">Download</button></td>
              </tr>
              <tr v-if="sharedFiles.length==0"><td colspan="3">No shared files</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <router-view></router-view>

  <modal class="example-modal" v-if="modal==='example'" @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Share File</h2>
      <!-- <p>At your leisure, please peruse this excerpt from a whale of a tale.</p> -->
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">Share <b>{{selectedFile.name}}</b> with:</h5>
      <select v-model="selectedUser">
        <option>Select</option>
        <option v-for="user in users" :value="user">{{user.fullName}}</option>
      </select>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" class="btn btn-info" @click="shareFile(selectedFile, selectedUser)">Share</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancel</button>
    </div>
  </modal>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
